# Secrets
Secrets.plist
logcal/Secrets.plist
**/Secrets.plist

# Firebase
GoogleService-Info.plist
**/GoogleService-Info.plist
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Functions
functions/node_modules/
functions/lib/
functions/.env
functions/*.log
